@font-face {
    font-family: 'Monita Signature PERSONAL USE Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Monita Signature PERSONAL USE Bold'), url('MonitaSignaturePersonalUseBold-JReyo.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
.box {
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#menu_container {
    width: 100vw;
    height: 100px;
}

.conntainer {
    height: 100%;
    width: 100%;
}

#home {
    background-image: url("img/Home.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

#menu {
    padding-top: 4%;
    width: 100vw;
    position: fixed;
    padding-left: 27vw;
    padding-right: 25vw;
}

#menu.sticky {
    background-color: rgb(255, 250, 250, 0.9);
    width: 100%;
    height: 6%;
    padding-top: 2%;
    z-index: 99999;
}

#menu a {
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 1%;
    left: 1%;
}

.logo img {
    height: 20vh;
    margin-left: 4%;
}

.logo:hover {
    transform: scale(1.1);
}

#menu a {
    color: #9f4941;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.btn {
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-bottom: 1%;
}

#menu a:hover {
    color: coral;
}

#menu .active {
    color: coral;
}

.text {
    margin-left: 4vw;
    width: 40%;
    margin-top: 10%;
    padding-top: 2%;
    padding-right: 6%;
    overflow: hidden;
    height: 40vh;
}

.t1 {
    font-family: 'Monita Signature PERSONAL USE Bold';
    font-size: 31px;
    color: #f15b28;
    float: right;
    padding-right: 0;
}

.t2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: #f15b28;
    padding-right: 0;
    float: right;
}

.t3 {
    font-family: 'Century Gothic', sans-serif;
    font-size: 18px;
    padding-right: 0;
    float: right;
    width: 94%;
    margin-bottom: 0.5%;
    text-align: right;
}

.t4 {
    font-family: 'Century Gothic';
    font-size: 18px;
    padding-right: 0;
    float: right;
    width: 94%;
    text-align: right;
}

.bold {
    font-weight: bolder;
}

.ico {
    width: 40px;
    margin-right: 2px;
    margin-left: 2px;
}

.icon:hover {
    opacity: 0.7;
}

.social_media {
    width: 97%;
    margin-top: 4%;
    padding-right: 5%;
    text-align: right;
}

#our_menu {
    background-image: url("img/our_menu.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 9%;
}

.attach {
    width: 25%;
    height: 75%;
    margin-left: 3%;
    margin-right: 3%;
}

.bigburger {
    background-image: url("img/bigburger.png");
    background-size: cover;
}

.cheezeburger {
    background-image: url("img/cheezeburger.png");
    background-size: cover;
}

.hotburger {
    background-image: url("img/hotburger.png");
    background-size: cover;
}

.note {
    width: 70%;
    padding-top: 6%;
    padding-bottom: 4%;
    margin-top: 50%;
    padding-left: 4%;
    margin-left: 12%;
    box-shadow: 10px 11px 13px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 10px 11px 13px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 11px 13px -2px rgba(0, 0, 0, 0.61);
}

#green {
    background-color: #77c149;
    color: black;
}

#green:hover {
    transform: scale(1.1);
}

#orange {
    background-color: #f15b28;
    color: white;
}

#orange:hover {
    transform: scale(1.1);
}

#yellow {
    background-color: #fcb03c;
    color: black;
}

#yellow:hover {
    transform: scale(1.1);
}

.title {
    font-family: 'Monita Signature PERSONAL USE Bold';
    font-size: 31px;
    text-align: center;
}

.option {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 19px;
}

.choosefrom {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
}

#our_menu span {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
}

#our_menu p {
    line-height: 3px;
}

#services {
    width: 100%;
    height: 100%;
    background-image: url("img/services.png");
    background-size: cover;
    color: white;
}

.container_services {
    padding: 1%;
}

.edge {
    font-family: 'Century Gothic';
    margin-left: 4.5%;
    margin-right: 4.5%;
    width: 25%;
    text-align: justify;
    margin-top: 17%;
}

.center {
    font-family: 'Century Gothic';
    font-weight: bold;
    width: 25%;
    text-align: justify;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#services p {
    margin-top: 10%;
}

#destinations {
    background-image: url("img/services.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
}

#destinations img {
    height: 95%;
}

.tunisia {
    position: absolute;
    top: 16%;
    left: 59%;
    height: 80%;
    padding: 0;
}

#destinations .title {
    color: #77c149;
    text-align: right;
    width: 80%;
    margin-left: 18%;
}

.tache {
    margin-left: 14%;
    margin-right: 10%;
    margin-top: 12%;
    height: 60%;
    width: 25%;
}

#destinations .option {
    color: #f15b28;
}

#destinations p {
    font-size: 26px;
    line-height: 5px;
}

.options {
    margin-top: 1%;
    padding-left: 25%;
}

#destinations .option {
    margin-left: 55%;
    width: 70%;
}

#about_us {
    width: 100%;
    height: 100%;
    background-image: url("img/about_us.png");
    background-size: cover;
    color: white;
    overflow: hidden;
    padding-bottom: 2%;
}

#about_us .box {
    padding: 0;
    margin: 0;
    width: 22%;
    text-align: center;
}

#about_us img {
    width: 80%;
}

#about_us img:hover {
    opacity: 0.7;
}

.border {
    height: 40%;
    width: 100%;
    padding: 5.2%;
    margin-bottom: 10%;
    display: inline-block;
}

#about_us .title {
    margin-top: 11.5%;
    font-size: 63px;
    height: 12%;
}


#locate_us {
    background-image: url("img/locate_us.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    position: relative;
}

#locate_us .title {
    font-size: 50px;
    margin-top: 8%;
}

#locate_us img {
    width: 90%;
}

.case {
    font-family: 'montserra', sans-serif;
    font-weight: 800;
    width: 20%;
    text-align: justify;
    padding: 0;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}

.map {
    margin-left: 10%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.map:hover {
    transform: scale(1.2);
}

footer {
    background-image: url("img/Footer.png");
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    background-position: center;
    padding-top: 0.5%;
}

.social_media_footer {
    width: 40%;
    text-align: right;
    float: right;
    padding-right: 2.5%;
    padding-left: 20px;
}

.inline {
    display: inline-block;
}

.flesh {
    margin-left: 2%;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@media only screen and (max-width: 800px) {
    .logo {
        display: none;
    }
    #home {
        padding-right: 1%;
    }
    #menu {
        margin: 0;
        padding: 0;
    }
    #menu .sticky {
        background-color: rgb(255, 250, 250, 0);
        width: 100%;
        height: 0%;
        padding-top: 0%;
    }
    .btn {
        background-color: rgba(0, 0, 0, 0.61);
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        display: block;
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-left: 0;
        padding-right: 0;
    }
    .btn:hover {
        background-color: rgba(0, 0, 0, .85);
    }
    .text {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
        height: 50vh;
    }
    .t2 {
        font-size: 60px
    }
    #our_menu {
        height: 180%;
    }
    #our_menu .box {
        display: block;
    }
    .container {
        padding: 0;
    }
    .attach {
        width: 100%;
        height: 30%;
        margin: 0;
        padding-top: 5%;
    }
    .note {
        height: 90%;
        padding: 0;
        margin: 0;
        width: 60%;
        margin-left: 14%;
        padding-left: 5%;
    }
    #services {
        height: 100%;
    }
    #services .box {
        display: block;
    }
    .edge {
        margin: 0;
        padding: 1%;
        width: 100%;
    }
    .center {
        margin: 0;
        padding: 1%;
        width: 100%;
    }
    #destinations {
        height: 150%;
        padding: 0;
        margin: 0;
    }
    .tunisia {
        display: none;
    }
    .tache {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 30%;
    }
    #destinations .title {
        width: 80%;
        text-align: center;
    }
    .options {
        width: 100%;
    }
    #destinations .option {
        margin-left: 0%;
        width: 70%;
    }
    #about_us {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.99);
        padding: 0;
        margin: 0;
    }
    #about_us .title {
        margin-top: 25%;
    }
    .border {
        margin-top: 10%;
    }
    #locate_us {
        height: 200%;
    }
    #locate_us .box {
        display: block;
    }
    .case {
        width: 100%;
        padding: 1%;
        margin: 1%;
    }
    .map:hover {
        transform: scale(0.9);
    }
    #locate_us .title {
        margin-top: 30%;
    }
    .social_media_footer {
        display: none;
    }
    footer {
        background-image: none;
        background-color: white;
        height: 2%;
    }
    .flesh img {
        height: 70%;
    }
}